@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Import font-family */

:root{/* colors of variables */
    --dark: #2D3142;
    --blue: #4F5D75;
    --grey: #BFC0CO;
    --light-grey: #EAEBEB;
    --orange: #EF8354;
    --white: #FFFFFF;
}
header{
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: var(--dark) 2px solid;
}
nav a{
    color: var(--white);
}
h1{
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
nav ul li{
    list-style: none;
    margin: 10px;
    text-align: center;
    border-radius: 9px;
}
h1 span{
    color: var(--orange);
}
header button{ /* dark btn */
    color: var(--white);
    background-color: var(--dark);
    border-radius: 7px;
    padding: 5px;
}
nav{/*nav setting*/
    width: 25%;
}
header button:hover, #submit:hover, nav ul li:hover{
    background-color: var(--orange);
}
/* header */
#abonnement{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#abonnement table{ /* table */
    text-align: center;
    border: 1px var(--dark) solid;
}
#abonnement table td{
    width: 15rem;
    padding: 10px 4px;
    border: 1px var(--dark) solid
}
#abonnement table tr:first-of-type, #abonnement table tr:last-of-type{
    background-color: var(--blue);
    color: var(--white);
}/* abonnement */
#plats article{
    display: flex;
    width: 85%;
    border-radius: 15px;
    margin: 5px;
}
#plats .container img{
    width: 150px;
    object-fit: cover;
    height: 17vh;
    border-radius: 15px;
}
#plats #all-plats{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    text-align: center;
}
#plats .container{/* container img of plats */
    width: 100%;
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
}
#plats p{
    text-align: center;
    width: 100%;
}
#plats article:first-of-type, #plats article:nth-of-type(3), #plats article:last-of-type{
    background-color: var(--light-grey);
}
#parallax{/* effect parallax */
    background: url("../../assets/img/img-12.jpg") no-repeat fixed center;
    width: 85%;
    margin: auto;
    border-radius: 15px;
}
#blog{/* blog */
    width: 70%;
    margin: auto;
    align-items: center;
    flex-direction: column;
}
#blog article{/* box-shadow of card */
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.3);
    text-align: center;
}
#blog article div, #parallax{
    height: 13vh;
}
#blog article:first-of-type div{
    background: url("../../assets/img/pic01.jpg") no-repeat center;
    background-size: cover;
}
#blog article:nth-of-type(2) div{
    background: url("../../assets/img/pic02.jpg") no-repeat;
    background-size: cover;
}
#blog article:nth-of-type(3) div{
    background: url("../../assets/img/pic03.jpg") no-repeat;
    background-size: cover;
}
#blog article:last-of-type div{/* background of card */
    background: url("../../assets/img/pic04.jpg") no-repeat center;
    background-size: cover;
}
footer{/* start of footer */
    background-color: var(--blue);
}
form{/* start of form */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: auto;
    color: var(--white);
}
#link span a{/* link eden school */
    color: var(--orange);
}
#link{
    margin: 0;
}
#name{
    margin: 10px;
}
#console, #jeu{
    font-size: 1.4rem;
}
select{/* select espace */
    padding: 10px;
    margin: 10px;
}
fieldset{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer h3{
    margin-top: 35px;
}
form input{
    border-radius: 7px;
    padding: 7px;
}
#form-text{
    height: 10vh;
    border-radius: 7px;
    padding: 10px;
    width: 75%;
}
#submit{/* last input */
    background-color: var(--dark);
    color: var(--white);
    border: 1px var(--white) solid;
    padding: 10px;
}
#cryptage{/* div of password */
    width: 82%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}
.none{
    display: none;
}
.joke{
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 97vh;
}
h4{
    color: var(--white);
}
@media screen and (min-width: 680px){/* responsive */
    h1{
        margin: auto;
    }
    nav{/* navigation */
        width: 40%;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        width: 60%;
    }
    #plats .container{
        width: 150px;
    }
    #plats h3{
        width: 100%;
    }
    #plats #text{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    #parallax{
        height: 26vh;
    }
    #blog{
        width: 80%;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #blog article{
        flex-basis: 43%;
        margin: 15px;
    }
    #blog article div{
        height: 32vh;
    }
    footer form fieldset{
        width: 75%;
    }
    #form-text{
        width: 50%;
    }
    #cryptage{
        width: auto;
    }
    #cryptage input{
        margin-left: 15px;
    }
    header button{ /* button dark */
        margin-right: 15px;
    }
    nav ul li{
        width: 40%;
    }
}
